h1 {
  text-align: center;
  margin: 50px 0;
}

.contactItem, form.contactForm {
  text-align: center;
}

.contactEmail, .contactLabel {
  color: black;
}

button{
  color: white;
  background-color: green;
  padding: 5px;
  border-radius: 0.5rem;
}

img.contactImage {
  margin-top: 50px;
 border-radius: 50%;
 height: 50px;
 width: 50px;
 text-align: center;
}

input[type="text"], input[type="email"] {
  background-color: lightgreen;
  padding: 5px;
  border-radius: 0.5rem;
}